<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /mayor
	RewriteCond $1 !\.(gif|jpe?g|png)$ [NC]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
</IfModule>